# Dependencies
node_modules/
backend/node_modules/

# Environment variables
.env
backend/.env

# Database dumps & local DB files
render_dump.sql
*.sql.bak
backend/database.db
backend/database.db-shm
backend/database.db-wal

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
